@CHARSET "UTF-8";


a:hover{
text-decoration:none; 
}

label {display:inline;float:left;}
input.error{
    border: 1px solid #FF4611;
}

input.highlight{
    border: 1px solid #7abd54;
}


@media screen and (min-width:1200px){
	label.error{
	word-wrap:break-word;word-break:keep-all;overflow:hidden;
		width:100%;
		height: 20px;
	    line-height: 20px;
	    font-size: 14px;
	    text-align: left;
	    margin-left: 10px;
	    margin-top:8px;
	    padding-left: 15px;
	    color:#FF4611;
	    float:left;
	    background: url('unchecked.gif') no-repeat left center; */
	}
	
	
	
	label.valid{
	word-wrap:break-word;word-break:keep-all;overflow:hidden;
		width:100%;
		height: 25px;
	    line-height: 25px;
	    font-size: 14px;
	    text-align: left;
	    margin-top:8px;
	    margin-left: 5px;
	    padding-left: 20px;
	    color:green;
	    background: url('success.png') no-repeat left center;
	    
	}
	
	
}/*1200  */


 @media only screen and (min-width: 480px) and (max-width: 1199px){ 
 
 	label.error{
	word-wrap:break-word;word-break:keep-all;overflow:hidden;
		width:100%;
		height: 20px;
	    line-height: 20px;
	    font-size: 14px;
	    text-align: left;
	    margin-left: 10px;
	    margin-top:4px;
	    padding-left: 15px;
	    color:#FF4611;
	    float:left;
	    background: url('/css/unchecked.gif') no-repeat left center; */
	}
	
	
	
	label.valid{
	word-wrap:break-word;word-break:keep-all;overflow:hidden;
		width:100%;
		height: 25px;
	    line-height: 25px;
	    font-size: 14px;
	    text-align: left;
	    margin-top:4px;
	    margin-left: 5px;
	    padding-left: 20px;
	    color:green;
	    background: url('/css/success.png') no-repeat left center;
	    
	}
	
 
 }/* 中间 */
	
  
 
 
 @media only screen and (max-width: 479px) {
 	
 	label.error{
	word-wrap:break-word;word-break:keep-all;overflow:hidden;
		width:100%;
		height: 16px;
	    line-height: 16px;
	    font-size: 14px;
	    text-align: left;
	    margin-left: 22px;
	    padding-left: 15px;
	    color:#FF4611;
	    float:left;
	    background: url('/css/unchecked.gif') no-repeat left center; */
	}
	
	
	
	label.valid{
	word-wrap:break-word;word-break:keep-all;overflow:hidden;
		width:100%;
		height: 25px;
	    line-height: 25px;
	    font-size: 14px;
	    text-align: left;
	    margin-left: 22px;
	    padding-left: 20px;
	    color:green;
	    background: url('/css/success.png') no-repeat left center;
	    
	}
 	
 }/* 479 */ 

	